<!DOCTYPE html>
<html>
<head>
	<title>POSTCARD</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.css"/>
	<style>
		.postcardImage{
			width: 100%;
		}
	</style>
</head>
<body>
	<div id="root"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.js"></script>
	<script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
	<script src="https://unpkg.com/prop-types@15.7.2/prop-types.js"></script>	
	<script type="text/babel">

		const rootElement = document.getElementById('root');
	
		function Postcard(props){

			//Destructuring
			const {
				bgColor = '',
				fontSty = '',
				...rest
			} = props;

			const bgColorStyle = bgColor ? { backgroundColor : bgColor} : undefined;
			const fntStyle = fontSty ? { fontStyle : fontSty} : undefined;

			const [ name , setName] = React.useState(window.localStorage.getItem('to') || '');
			const [ message , setMessage] = React.useState(window.localStorage.getItem('msg') || '');

			React.useEffect(() => window.localStorage.setItem('to', name));
			React.useEffect(() => window.localStorage.setItem('msg', message));
			
			//Set new name value
			function handleName(event){
				setName(event.target.value)
			}

			//Set new message value
			function handleMessage(event){
				setMessage(event.target.value)
			}

			//SWAL
			function handleAlerta(){
				swal({
				   title: `Enviando a ${name}`,
				   type: "success",
				 });
			}

			return (
				<div className="container">
					<div className="card bg-light mb-3">
						<div className="card-header"></div>
						<div className="card-body" style={{...bgColorStyle, ...fntStyle }}>
							<div className="row">
								<div className="col-6">
									<img className="postcardImage" src="img1.jpg"/>
									<b>Los Angeles,CA</b>
								</div>
								<div className="col-6">
									<h6 className="card-title text-right">April, 24, 2020</h6>
									<h5 className="card-title">To: {name}</h5>
										<input 
										className="form-control" 
										onChange={handleName}
										value={name} 
									/>
									<br/>
									<h5 className="card-title">From: Paola</h5>
									<p>
										{message}
									</p>
									<textarea 
										className="form-control" rows="4" cols="5" 
										placeholder="Message..."
										onChange={handleMessage}
										value= {message} 
									>
									</textarea>
						
									<br/>
									<button type="button" className="btn btn-info btn-block"
									onClick={handleAlerta}>Enviar</button>
								</div>
							</div>
						</div>
						<div className="card-footer text-muted"></div>
					</div>
				</div>
			)
		}

		//PropTypes Style

		Postcard.propTypes = {
			//name: PropTypes.string.isRequired,
			//message: PropTypes.string.isRequired,
			bgColor: PropTypes.string,
			fontSty: PropTypes.string,
		}

		
		const App =(
			<>
				<Postcard 
					bgColor="turquoise"
					fontSty="italic"
				>
				</Postcard>
			</>
		);
		
		ReactDOM.render(App, rootElement);
		
	</script>
</body>
</html>